.header {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    height: 30px;
    span {
        margin-right: 10px;
    }
}

.code,
.apis {
    width: 50%;
}

.content {
    display: flex;
}